<div class="row">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="active">Home</li>
    </ol>
    <%= render 'shared/tickets' %>
  </div>
</div>
