<div class="modal fade" tabindex="-1" id="order_modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="text text-success"><i class='fa fa-check-circle-o'></i> 创建订单成功</h4>

        <div class="media">
          <div class="media-left">

          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= @ticket.movie_name %></h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">继续购物</button>
        <%= link_to "查看订单", orders_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
